[newrelic]

key = [enter your license key here]
api_key = [enter your API key here] 
url = https://platform-api.newrelic.com/platform/v1/metrics

enable_proxy = False
http_proxy_url = [enter your proxy host here]
http_proxy_port = 3128
http_proxy_type = http

debug = True

[Insights]
account_id = [your account_id  (found in the URL for Insights)]
api_key = [your Insights API key]
url = https://insights-collector.newrelic.com/v1/accounts/{account_id}/events
event_type = Server Health 1
 
[instance]

host = api.newrelic.com
port = 443 
ssl = True
name = My Servers
filter_key = ids
filter = 

[plugin]

name = Grouper
guid = com.chocolatefactory.grouper
duration = 60
version = 0.1

enable_all = True
enable_servers = True
